@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
    font-size: 10px;
}
.orange{
    color: #FEA301;
}
.sky-blue{
    color: #01ACFD;
}
.black{
    color: #111;
}
.light-skyblue{
    color: #05D4DF;
}
.blue{
    color: #5D58EF;
}
.purple{
    color: #8700FF;
}
/* Navbar design */

.hamburger li{
    list-style: none;
}
.hamburger li i{
    font-size: 3em;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
nav{
    max-width: 1020px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 62px;
    height: 62px;
}
.logo h2{
    font-size: 3em;
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar li{
    list-style: none;
    margin-right: 15px;
    font-size: 2em;
}
.navbar li a{
    text-decoration: none;
}
.nav-btn{
    display: flex;
    align-items: center;
    
}
.btn{
    background-color: #FEA301;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}

/*banner section */
.banner{
    display: flex;
    max-width: 910px;
    margin: 0 auto;
    
    
}
.banner h1{
    font-size: 4.5em;
    font-weight: 700;
    padding-top: 80px;
    
}
.banner-content p {
    margin: 20px 0;
    font-size: 1.4em;
}
.banner-btn button{
    background-color: #111;
}
.banner-img{
    width: 380px;
    margin-left: 60px;
}

/*standard curriculum */
.standard-curriculam{
    background: url("../img/bg.png");
    background-size: cover;
    background-repeat: repeat-y;
    max-width: 910px;
    margin: 0 auto;
    padding-top: 80px;
}
.standard-curriculam h2{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 40px;
}


.grid-curriculam{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}
.curriculam-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.curriculam-items img{
    width: 50%;
}
.curriculam-items h3{
    font-size: 2em;
}
.curriculam-items p{
    font-size: 1.2em;
}
.curriculam-items a{
    font-size: 1.2em;
    text-decoration: none;
}
.one{
    background-image: linear-gradient(#DEF5FF, #fff);
    
}
.two{
    background-image: linear-gradient(#FFF4DC, #fff);
    
}
.three{
    background-image: linear-gradient(#EEE1FF, #fff);
    
}
/* Arrow section */
.arrow-container{
    max-width: 910px;
    margin: 0 auto;
    padding: 80px 60px;
    background: url("../img/bg.png");
    display: flex;
    justify-content: center;
    gap: 10px;
}
.arrow{
    font-size: 2em;
    color: #fff;
    background-color: #FEA301;
    text-align: center;
    padding: 8px 15px;
    border-radius: 50%;
}
.arrow:hover{
    background-color: #5D58F0;
    transition: 1s;
}
/* Our stories section */

.ellipsis{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stories-bg{
    background: url("../img/bg.png"), url(../img/bg.png), linear-gradient(to bottom, #FFFFFF, rgba(254, 165, 0, 0.3), rgba(254, 165, 0, 0.2));
    padding: 120px 0;

}
.stories{
    max-width: 910px;
    margin: 0 auto;
}
.stories h2{
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 30px;
}
.grid-stories-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-stories-items-one{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
.stories-one-content{
    padding: 10px 20px;
}
.stories-one-content h4{
    font-size: 1.4em;
    margin: 10px 0;
}
.stories-one-content p{
    font-size: 1em;
}
.stories-button{
    margin-top: -28px;
    
}
.stories-button button{
    padding: 8px 10px;
    font-size: 1.2em;
}
.stories-button button{
    background-color: #05D4DF;
}
.grid-stories-items-one img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.grid-stories-items-two{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.grid-our-items{
    background-color: #fff;
    border-radius: 10px;
}
.grid-stories-items-two > .grid-our-items > img{
    width: 100%;
    height: 60%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.grid-our-items h5{
    font-size: 1.3em;
    padding: 10px 20px;
}
.grid-our-items button{
    margin-top: 10px;
    margin-left: 20px;
    background-color: #95B226;
}
.grid-our-items:nth-child(2) button{
    background-color: #5D58F0;
}
.stories-button-black{
    
    display: flex;
    justify-content: center;
}
.stories-button-black button{
    background-color: #111;
    margin-top: 60px;
}

/* footer */
footer{
    background-color: #01ACFD;
    
}
.grid-footer-container{
    max-width: 910px;
    margin: 0 auto;
    padding: 60px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}
.grid-footer-items{
    text-align: center;
}

.grid-footer-items .footer-logo h2{
    color: #fff;
    font-size: 3em;
}
.grid-footer-items .footer-logo{
    display: flex;
    margin-top: 0;
}
.grid-footer-items p{
    color: #fff;
    font-size: 1.2em;
    margin-top: 20px;
    
}
.grid-footer-items li{
    list-style: none;
    margin: 10px 0;

}
.grid-footer-items li a{
    text-decoration: none;
    font-size: 1.2em;
    color: #fff;
}
.grid-footer-items h6{
    font-size: 2em;
    color: #fff;
}
.footer-social{
    display: flex;
    gap: 2px;
    justify-content: center;
}
.footer-social li img{
    width: 80%;
    
}
